@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap");

:root {
}
.rdev-light {
  --colors-text: red;
  --colors-bg-primary: pink;
}

.rdev-dark {
  --colors-text: white;
  --colors-bg-primary: darkBlue;
}

body::-webkit-scrollbar {
  width: 0.3em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:before {
  box-sizing: border-box;
}
*:after {
  box-sizing: border-box;
}

button {
  background: none;
  appearance: none;
  border: none;
  color: inherit;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* @supports (backdrop-filter: blur()) {
  body {
    margin: 10rem;
  }
} */
